* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #000;
    color: #fff;
    padding: 1rem 2rem;
}

.navbar .container {
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 100px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    /* padding: 0 50px; */
    color: #fff;
    /* height: 100%; */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: orange;
}

.navbar ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-end;
    margin-right: 50px;
}

.navbar ul li {
    margin-left: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.name {
    font-size: 20px;
}

.header h1 {
    font-size: 3rem;
    /* font-weight: bold; */
    line-height: 1.2;
}

.mypic {
    background-image: url(assets/mypic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}

#hero {
    max-width: 60%;
    height: 300px;
    padding-left: 50px;
    padding-top: 180px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
    padding-left: 50px;
    /* text-indent: 50px; */
    font-size: 18px;
    line-height: 2em;
    color: #fff;
}

.content h1 {
    padding-top: 50px;
}

.portfolio h3 {
    padding-top: 20px;
}

#paragraph {
    padding-bottom: 50px;
}

.contact ul li {
    list-style-type: none;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    color: orange;
}

html, 
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #000000;
}

main {
  flex: 1;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1em;
}
